In [ ]:
#Section 4.1

In [1]:
from fractions import Fraction as F

In [2]:
print(F(1,3))

1/3

In [3]:
x= 5.7

In [6]:
y=3

In [5]:
type(x)

float

In [7]:
type(y)

int

In [8]:
x

5.7

In [9]:
z=x+y

In [10]:
z

8.7

In [ ]:
#add +, subtract -, multiply * and divide /

In [11]:
#powers
(-3)**3

-27

In [ ]:
#Section 4.2

In [12]:
list_1 = [0,1,2,3]

In [14]:
list_2 = ["cat", "dog", "fish", "frog"]

In [17]:
list_2[-1]

'frog'

In [18]:
list_3 = list_1+list_2

In [19]:
list_3

[0, 1, 2, 3, 'cat', 'dog', 'fish', 'frog']

In [20]:
list_3[1] = "ZERO"

In [21]:
list_3

[0, 'ZERO', 2, 3, 'cat', 'dog', 'fish', 'frog']

In [22]:
list_3[-1] = "FROG"

In [23]:
list_3

[0, 'ZERO', 2, 3, 'cat', 'dog', 'fish', 'FROG']

In [26]:
list_2.sort(reverse=True)
print(list_2)

['frog', 'fish', 'dog', 'cat']

In [27]:
list_3.sort(reverse=True)
print(list_3)

TypeError: '<' not supported between instances of 'int' and 'str'

In [28]:
new_list = ["a", "b", "c", "d", "e", "f"]

In [29]:
new_list[0:2]

['a', 'b']

In [ ]:
#Section 4.4

In [31]:
tup_1 = (1,2,3)

In [32]:
type(tup_1)

tuple

In [33]:
tup_2=("one", "two", "three")

In [34]:
tup_2

('one', 'two', 'three')

In [36]:
len(tup_1)

3

In [ ]:
#Section4.5

In [37]:
this = "My long string"

In [38]:
type(this)

str

In [39]:
this[0]

'M'

In [40]:
this[0:2]

'My'

In [41]:
new = "... ends here!"

In [42]:
type(new)

str

In [44]:
new_string = this+new

In [45]:
new_string

'My long string... ends here!'

In [46]:
print(new_string*2)

My long string... ends here!My long string... ends here!

In [48]:
count = 0
for letter in new_string:
    if (letter == "n"):
        count += 1
print(count, "n's found in string")

3 n's found in string

In [49]:
len(new_string)

28

In [ ]:
#Section 4.6

In [50]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [51]:
A|B

{1, 2, 3, 4, 5, 6, 7, 8}

In [52]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [53]:
B.union(A)

{1, 2, 3, 4, 5, 6, 7, 8}

In [54]:
A&B

{4, 5}

In [55]:
A-B

{1, 2, 3}

In [56]:
B-A

{6, 7, 8}

In [ ]:
#Section 4.7

In [61]:
my_dict = {"john":500, "sarah":800}

In [62]:
my_dict["sarah"]

800

In [63]:
adv = {"k1": 75, "k2": "dog", "k3": [0,1,2], "k4": {"inner": "wow!"}}

In [64]:
adv["k3"]

[0, 1, 2]

In [65]:
adv["k3"][-1]

2