In [2]:
def hello_there(name):
    print("Hello there, " + name + ". Nice to meet you!")

In [3]:
hello_there("Glyn")

Hello there, Glyn. Nice to meet you!

In [4]:
def squared_value(number):
    x = number**2
    return x

In [5]:
squared_value(5)

25

In [6]:
squared_value(-5)

25

In [7]:
squared_value(-0.5)

0.25

In [8]:
#Section 3.2

In [9]:
def hello_there(name, greeting="Nice to meet you!"):
    print("Hello there, "+name+". "+greeting)

In [11]:
hello_there("Bill")

Hello there, Bill. Nice to meet you!

In [12]:
hello_there("Bill", "What's up?")

Hello there, Bill. What's up?

In [13]:
def hello_there2(*names):
    for x in names:
        print("Hello there ", x)

In [14]:
hello_there2("Bill", "Ashley", "Fred")

Hello there  Bill
Hello there  Ashley
Hello there  Fred

In [ ]:
#Section 3.3

In [16]:
double = lambda x:x*2

In [17]:
double(5)

10

In [18]:
double(-5)

-10

In [21]:
def doubler(number):
    return number*2

In [22]:
doubler(5)

10

In [23]:
my_list = [1, 4, 5, 6, 7, 19]

newlist = list(filter(lambda x:(x%2 == 0),my_list))

print(newlist)

[4, 6]

In [27]:
my_list = [1, 4, 5, 6, 7, 19]

newlist = list(map(lambda x:x**2 == 0,my_list))

print(newlist)

[False, False, False, False, False, False]

In [ ]:
#Section3.4

In [29]:
import math

In [30]:
math.pi

3.141592653589793

In [31]:
import math as m

In [32]:
m.pi

3.141592653589793

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

SyntaxError: invalid syntax (4006392477.py, line 1)